@model List<GetAuthorByBlogAuthorIdDto>

@foreach (var author in Model)
{
    <div class="about-author d-flex p-4 bg-light">
        <div class="bio mr-5">
            <img src="@author.AuthorImageUrl" alt="Image placeholder" class="img-fluid mb-4">
        </div>
        <div class="desc">
            <h3>@author.AuthorName</h3>
            <p>
                @author.AuthorDescription
            </p>
        </div>
    </div>
}
