
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/AdminLayout/AdminHeaderPartial.cshtml")

<body>
    <div id="layout-wrapper">

        @await Html.PartialAsync("/Views/AdminLayout/AdminnNavbarPartial.cshtml")
        @await Html.PartialAsync("/Views/AdminLayout/AdminnSidebarPartial.cshtml")
        <div class="main-content">
            @RenderBody()
            @await Html.PartialAsync("/Views/AdminLayout/AdminnFooterPartial.cshtml")
        </div>
    </div>

    @await Html.PartialAsync("/Views/AdminLayout/AdminnScriptPartial.cshtml")
    AdminnScriptPartial

</body>
</html>
</head>
<body>
</body>
</html>


