
@{
    ViewData["Title"] = "CarDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}


<section class="ftco-section ftco-car-details">
	<div class="container">
		@await Component.InvokeAsync("_CarDetailMainCarFeatureComponentPartial", new { carId = ViewBag.carId })
		<div class="row">
			<div class="col-md-12 pills">
				<div class="bd-example bd-example-tabs">
					@await Component.InvokeAsync("_CarDetailTabPaneComponentPartial")

					<div class="tab-content" id="pills-tabContent">
						@await Component.InvokeAsync("_CarDetailCarFeatureByCarIdComponentPartial", new { carId = ViewBag.carId })

						@await Component.InvokeAsync("_CarDetailCarDescriptionByCarIdComponentPartial", new { carId = ViewBag.carId })
						<div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
							<div class="row">
								@await Component.InvokeAsync("_CarDetailCarReviewByCarIdComponentPartial", new { carId = ViewBag.carId })
								@await Component.InvokeAsync("_CarDetailReviewResultsComponentPartial")
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

